

:root { /*fuentes para las variables que apareceran en todo el CSS */
    --Font:#F3F5FC;
    --DarkBlue: #7990b5;
    --ImputBackground: #e6e8f1;
    --Gray:  #495057;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
    box-sizing: border-box;
}


.reloj {
    position: absolute;
    display: flex;
    padding: 1%;
    width: 90%; /* Cambiado de 68vw a 100% para ajustar al contenedor padre */
    max-width: 36%;
    margin: 1% auto;
    margin-top: 4%;/*separacion del calendario con el todo list*/
    align-items: center;
    justify-content: center;
    text-align: center;
    border-style: inset;/*bordes visible*/
    border-radius: 10px;
    border-color: transparent;
    background-color: var(--Font);
    color: var(--Gray);
}

.fecha {
    margin-left: 5%;
    width: 60%;
    display: flex;
    position: relative
} 

.tiempo {
    margin-right: 5%;
    display: flex;
    width: 40%;
    position: relative
}

.container{
width: 100%;
min-height: 100vh;
background:   linear-gradient(215.77deg, #c7c1ff 1%, #bbdbf7 65.57%, #efefff 100%);
padding: 10px;
}

.saturn{   /*logo de saturno*/
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.todo-app{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 78%;
    background: var(--Font);
    margin: 100px auto 20px;
    padding: 40px/*arriba*/ 30px/*izquierda*/ 40px/*abajo*/;/*padding del recuedro blanco*/
    border-radius: 25px;
}

.todo-app h2 {
    display: flex;
    color: var(--DarkBlue);
    margin-bottom: 3%;
}

.row{/*area donde se encuentra encerrado el boton y casilla para añadir texto*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--ImputBackground);
    border-radius: 40px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {/*casilla de texto donde pondremos las task*/
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 1%;
}


.add {/*boton add*/
    border: none;
    outline: none;
    height: 35px;
    width: 20%;
    background: linear-gradient(135deg, #c2e9fb, #a1c4fd);
    color: var(--Font);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background:   linear-gradient(215.77deg, #c7c1ff 1%, #bbdbf7 65.57%, #efefff 100%);
    border-radius: 20px;
    width: 100%; /* Cambiado de 68vw a 100% para ajustar al contenedor padre */
    max-width: 68vw; /* Agregado para mantener el tamaño máximo */
    overflow: hidden;/*esto evitara que el contenido salga de la casilla en caso de que sea un texto muy largo*/
}   

ul li {
    position: relative;
    list-style: none;/*esto le quitara los numeros o lineas que tengan los li*/
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    display: flex;
    padding: 10px 100px 15px 40px;
    margin: 1%;
    width: 100%; /* Ajuste para mantener el ancho completo del contenedor ul */
}

ul li::before{ /* CASILLAS PARA MARCAR Aqui es donde crearemos las casillas donde aparecera la palomita de cheque en nuestras tareas
    El pseudo-elemento ::before en CSS se utiliza para insertar contenido antes del 
    contenido de un elemento HTML. Es muy útil para agregar elementos decorativos o
    contenido adicional sin tener que modificar el HTML. Aquí te explico en detalle 
    cómo funciona y cómo puedes usarlo:*/
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(Icons/square.png);
    background-size: cover;
    background-position: center;
    left: 1%;
    
}

ul li.checked {
    text-decoration: line-through; /*esto hace que el elemento li con la clase checke aparezca rallada como si ya se hubiera completado*/
    color: #555;
    
}

ul li.checked::before {
    position: absolute;
    background-image: url(Icons/check.png);
    height: 28px;
    width: 38px;
    left: 0px;
}

ul li span { /* X */
    left: 30%;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 57%;
    align-self: flex-start;
    top: 0%;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: var(--Font)
}


.copyright {
    opacity: 0.8;
    padding: 1%;
    margin-top: 1%;
    padding: 3%;
    color: var(--Gray);
    text-align: center;
    height: 1%;
    font-size: 20px;
    font-weight: 700;
    color: var(--Gray);  
}

.github {
    height: 43px;
    width: 43px;
    margin-left: 1%;
}

.linkedin {
    height: 43px;
    width: 43px;
}

@media(max-width: 768px) {

    ul {
        max-width: 77vw; /* Agregado para mantener el tamaño máximo */;
    }   

    .todo-app{
        width: 100vw;
        max-width: 90%;
        height: 100%;
    }

   
    .reloj {
        margin-top: 4.5%;/*separacion del calendario con el todo list*/
        margin-left: 51%;
        width: 100%; 
        max-width: 40%;
        }
}    

@media(min-width: 770px) { 
   
    .reloj {
        margin-top: 2%;
        margin-left: 51%;
        width: 100%; 
        max-width: 90%;
        }

} 

@media(min-width: 771px) { 
   
    .reloj {
        margin-top: 2%;
        margin-left: 52%;
        width: 80%; 
        max-width: 36%;
        }

} 


@media (min-width: 900px) {
    .fecha, .tiempo {
        font-size: 1.1rem; /* Tamaño más grande en pantallas grandes */
    }

}

@media (min-width: 1200px) {
    .fecha, .tiempo {
        font-size: 1.4rem; /* Tamaño más grande en pantallas grandes */
    }
}

@media (min-width: 1450px) {
    .fecha, .tiempo {
        font-size: 1.7rem; /* Tamaño más grande en pantallas grandes */
    }

    .reloj {
        margin-top: 1%
    }

}